chaos/src/dashboard/flows.json
[{"id":"5992b366.f9457c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d356d37f.c19f1","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"chaossensor/1/data","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":230,"y":500,"wires":[["1c86e45c.646a7c"]]},{"id":"ae23ecab.f5d54","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"a7c03f91.8126","order":1,"width":16,"height":8,"label":"Data over Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":460,"wires":[[]]},{"id":"3686d445.ae6fac","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"tickgen/tick","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":260,"y":100,"wires":[["a0ca5b1b.242ed8"]]},{"id":"a0ca5b1b.242ed8","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":1,"width":8,"height":1,"name":"","label":"Simulationszeit","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":100,"wires":[]},{"id":"e09fa76.8c40d58","type":"ui_slider","z":"5992b366.f9457c","name":"","label":"Simulationsgeschwindigkeit","tooltip":"","group":"675fff50.e5e07","order":5,"width":16,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0.25","max":"30","step":"0.25","x":480,"y":360,"wires":[["4a655145.b57"]]},{"id":"94f5375.5e92cc8","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"tickgen/speed_factor","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":230,"y":160,"wires":[["a52df976.ba8f88"]]},{"id":"a52df976.ba8f88","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":2,"width":8,"height":1,"name":"","label":"Simulationsgeschwindigkeit","format":"{{msg.payload}}x","layout":"row-spread","x":480,"y":160,"wires":[]},{"id":"4a655145.b57","type":"mqtt out","z":"5992b366.f9457c","name":"","topic":"tickgen/speed_factor","qos":"","retain":"","broker":"3b931ee9.0688c2","x":860,"y":360,"wires":[]},{"id":"5c7ef2e5.7d6d5c","type":"ui_switch","z":"5992b366.f9457c","name":"","label":"Enable Adaptive Mode","tooltip":"","group":"675fff50.e5e07","order":6,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":460,"y":300,"wires":[["93931a65.57e558"]]},{"id":"93931a65.57e558","type":"mqtt out","z":"5992b366.f9457c","name":"","topic":"mgmt/adaptive_mode","qos":"","retain":"","broker":"3b931ee9.0688c2","x":860,"y":300,"wires":[]},{"id":"9e297410.dadd68","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"mgmt/adaptive_mode","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":220,"y":220,"wires":[["8e0c7bef.ddd488"]]},{"id":"8e0c7bef.ddd488","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":3,"width":8,"height":1,"name":"","label":"Adaptive Mode","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":220,"wires":[]},{"id":"1c86e45c.646a7c","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":410,"y":500,"wires":[["fd591594.eb76d8"]]},{"id":"fd591594.eb76d8","type":"change","z":"5992b366.f9457c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":500,"wires":[["ae23ecab.f5d54","9b9b81e2.eb0ef"]]},{"id":"88e16359.77529","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"tick_gen/speed_factor","payload":"10","payloadType":"num","x":210,"y":360,"wires":[["e09fa76.8c40d58"]]},{"id":"7b1f9b6f.3e0bd4","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"mgmt/adaptive_mode","payload":"false","payloadType":"bool","x":200,"y":300,"wires":[["5c7ef2e5.7d6d5c"]]},{"id":"4ddb5646.e6bc08","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"tickgen/tick","payload":"0","payloadType":"num","x":250,"y":60,"wires":[["a0ca5b1b.242ed8"]]},{"id":"9b9b81e2.eb0ef","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"a7c03f91.8126","order":2,"width":8,"height":8,"gtype":"gage","title":"Current Value","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":840,"y":540,"wires":[]},{"id":"7312250.3a9e4dc","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"sink/1/data","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":200,"y":640,"wires":[["5d60d9ac.bde24"]]},{"id":"8c5c1ff8.7f3ec","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"a7c03f91.8126","order":1,"width":16,"height":8,"label":"Data over Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":600,"wires":[[]]},{"id":"5d60d9ac.bde24","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":410,"y":640,"wires":[["f8e1ee53.c19f28"]]},{"id":"f8e1ee53.c19f28","type":"change","z":"5992b366.f9457c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":640,"wires":[["8c5c1ff8.7f3ec","8056d3e7.e8d3"]]},{"id":"6567f982.67d108","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"a7c03f91.8126","order":2,"width":8,"height":8,"gtype":"gage","title":"Current Value","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":980,"y":680,"wires":[]},{"id":"8056d3e7.e8d3","type":"function","z":"5992b366.f9457c","name":"nachkomma","func":"msg.payload = parseFloat(msg.payload).toFixed(2); // Begrenze auf 2 Nachkommastellen\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":680,"wires":[["6567f982.67d108"]]},{"id":"b8fe503.c22233","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"chaossensor/2/data","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":230,"y":860,"wires":[["e58e353b.65fcc"]]},{"id":"73a4294f.d66cd","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"bf2960d9.078bc","order":1,"width":16,"height":8,"label":"Data over Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":820,"wires":[[]]},{"id":"e58e353b.65fcc","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":410,"y":860,"wires":[["e1c60aef.f6f56"]]},{"id":"e1c60aef.f6f56","type":"change","z":"5992b366.f9457c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":860,"wires":[["73a4294f.d66cd","35675663.296ffa"]]},{"id":"35675663.296ffa","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"bf2960d9.078bc","order":2,"width":8,"height":8,"gtype":"gage","title":"Current Value","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":840,"y":900,"wires":[]},{"id":"dca55e10.2c2c2","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"sink/2/data","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":200,"y":1000,"wires":[["3ead1f0c.3c1608"]]},{"id":"67b57d1d.864df4","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"bf2960d9.078bc","order":1,"width":16,"height":8,"label":"Data over Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":960,"wires":[[]]},{"id":"3ead1f0c.3c1608","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":410,"y":1000,"wires":[["77caa85e.2e02e8"]]},{"id":"77caa85e.2e02e8","type":"change","z":"5992b366.f9457c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1000,"wires":[["67b57d1d.864df4","d3fa3c4f.4728f8"]]},{"id":"83bd7f96.321b58","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"bf2960d9.078bc","order":2,"width":8,"height":8,"gtype":"gage","title":"Current Value","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":980,"y":1040,"wires":[]},{"id":"d3fa3c4f.4728f8","type":"function","z":"5992b366.f9457c","name":"nachkomma","func":"msg.payload = parseFloat(msg.payload).toFixed(2); // Begrenze auf 2 Nachkommastellen\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1040,"wires":[["83bd7f96.321b58"]]},{"id":"3647e2cc.caca1e","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"chaossensor/3/data","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":230,"y":1240,"wires":[["e1dd54e7.5b69e8"]]},{"id":"a4045c83.cfdd4","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"c8cd2569.7d7fa8","order":1,"width":16,"height":8,"label":"Data over Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":1200,"wires":[[]]},{"id":"e1dd54e7.5b69e8","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":410,"y":1240,"wires":[["ffa47f74.fb0708"]]},{"id":"ffa47f74.fb0708","type":"change","z":"5992b366.f9457c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1240,"wires":[["a4045c83.cfdd4","848e3936.69ad1"]]},{"id":"848e3936.69ad1","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"c8cd2569.7d7fa8","order":2,"width":8,"height":8,"gtype":"gage","title":"Current Value","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":840,"y":1280,"wires":[]},{"id":"832f09f0.87b5","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"sink/3/data","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":200,"y":1380,"wires":[["417ceb4e.60467c"]]},{"id":"648370c6.e0047","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"c8cd2569.7d7fa8","order":1,"width":16,"height":8,"label":"Data over Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":1340,"wires":[[]]},{"id":"417ceb4e.60467c","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":410,"y":1380,"wires":[["8f5f6f55.b26cf"]]},{"id":"8f5f6f55.b26cf","type":"change","z":"5992b366.f9457c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1380,"wires":[["648370c6.e0047","64cfbbc0.08c59c"]]},{"id":"342643f4.d71b74","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"c8cd2569.7d7fa8","order":2,"width":8,"height":8,"gtype":"gage","title":"Current Value","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":980,"y":1420,"wires":[]},{"id":"64cfbbc0.08c59c","type":"function","z":"5992b366.f9457c","name":"nachkomma","func":"msg.payload = parseFloat(msg.payload).toFixed(2); // Begrenze auf 2 Nachkommastellen\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1420,"wires":[["342643f4.d71b74"]]},{"id":"3b931ee9.0688c2","type":"mqtt-broker","name":"","broker":"mqttbroker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a7c03f91.8126","type":"ui_group","name":"Sink_1","tab":"8d5b248b.b32978","order":2,"disp":true,"width":"24","collapse":true},{"id":"675fff50.e5e07","type":"ui_group","name":"Configuration","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"24","collapse":true},{"id":"bf2960d9.078bc","type":"ui_group","name":"Sink_2","tab":"8d5b248b.b32978","order":3,"disp":true,"width":"24","collapse":true},{"id":"c8cd2569.7d7fa8","type":"ui_group","name":"Sink_3","tab":"8d5b248b.b32978","order":4,"disp":true,"width":"24","collapse":true},{"id":"8d5b248b.b32978","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]