dashboard/data/.flows.json.backup
[
    {
        "id": "5992b366.f9457c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8d5b248b.b32978",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3bad7c7d.5054c4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a02ac196.2c23f",
        "type": "ui_group",
        "name": "Configuration",
        "tab": "8d5b248b.b32978",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c1c49a80.e500e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto_broker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b716f2f0eaa43633",
        "type": "ui_group",
        "name": "Power",
        "tab": "8d5b248b.b32978",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a82e0630cb9ec36b",
        "type": "ui_group",
        "name": "Consumer",
        "tab": "8d5b248b.b32978",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4c5728327e2ec2a9",
        "type": "ui_tab",
        "name": "Map",
        "icon": "",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d54d87a82fb70f0c",
        "type": "ui_group",
        "name": "Vehicle",
        "tab": "4c5728327e2ec2a9",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "83cd261e79d613c8",
        "type": "ui_group",
        "name": "Charger",
        "tab": "8d5b248b.b32978",
        "order": 4,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9433bdbccc800a84",
        "type": "ui_group",
        "name": "Map",
        "tab": "4c5728327e2ec2a9",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "faabda12666136a4",
        "type": "ui_group",
        "name": "Distance",
        "tab": "8d5b248b.b32978",
        "order": 5,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c87c429f141b3ac3",
        "type": "ui_group",
        "name": "Config",
        "tab": "4c5728327e2ec2a9",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf2cf521.1772e",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "tickgen/tick",
        "payload": "0",
        "payloadType": "num",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "ea18c282.7d0be8"
            ]
        ]
    },
    {
        "id": "89415ad9.c002b",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "TickInfo",
        "topic": "tickgen/tick",
        "qos": "2",
        "datatype": "json",
        "broker": "c1c49a80.e500e",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "ea18c282.7d0be8",
                "8d7fdecc.5b539",
                "873cbb5af1b9fce8",
                "8cedfba171018d64"
            ]
        ]
    },
    {
        "id": "412330d0.55c178",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "tickgen/configure_speed",
        "payload": "1",
        "payloadType": "num",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "d85ce3e9.dda098"
            ]
        ]
    },
    {
        "id": "ea18c282.7d0be8",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "a02ac196.2c23f",
        "order": 0,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Simulation Timestamp",
        "format": "{{msg.payload.timestamp}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "d85ce3e9.dda098",
        "type": "ui_slider",
        "z": "5992b366.f9457c",
        "name": "",
        "label": "Simulation Speed",
        "tooltip": "",
        "group": "a02ac196.2c23f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0.1",
        "max": "10",
        "step": "0.1",
        "className": "",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "56d244ea.fb86bc"
            ]
        ]
    },
    {
        "id": "56d244ea.fb86bc",
        "type": "mqtt out",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "tickgen/configure_speed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c1c49a80.e500e",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "8d7fdecc.5b539",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "a02ac196.2c23f",
        "order": 1,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Simulation Speed",
        "format": "{{msg.payload.configuration.speed}}s per Tick",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "a2f74a8e68859057",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "power/transformer/consumption/transformed",
        "qos": "2",
        "datatype": "json",
        "broker": "c1c49a80.e500e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1080,
        "wires": [
            [
                "a51664a99e0eb2ed"
            ]
        ]
    },
    {
        "id": "49f72289542aa70b",
        "type": "ui_chart",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "b716f2f0eaa43633",
        "order": 5,
        "width": "24",
        "height": "6",
        "label": "Power Consumption",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e01b24",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "151d942fd05f3a14",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "power/transformer/generation",
        "qos": "2",
        "datatype": "json",
        "broker": "c1c49a80.e500e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 1140,
        "wires": [
            [
                "c3e79c32a768de90"
            ]
        ]
    },
    {
        "id": "66a3388ee9d6020b",
        "type": "ui_chart",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "b716f2f0eaa43633",
        "order": 5,
        "width": "24",
        "height": "6",
        "label": "Power Generation",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "d644f68cf9527757",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "power/transformer/diff",
        "qos": "2",
        "datatype": "json",
        "broker": "c1c49a80.e500e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 980,
        "wires": [
            [
                "d9374dcded931d27"
            ]
        ]
    },
    {
        "id": "3ff84142a8eb564d",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "power/charger",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c1c49a80.e500e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 1320,
        "wires": [
            [
                "ec6f8418521ea347"
            ]
        ]
    },
    {
        "id": "b5555d8c73629761",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "power/location",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c1c49a80.e500e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 1560,
        "wires": [
            [
                "1d02d875ec166027"
            ]
        ]
    },
    {
        "id": "1d02d875ec166027",
        "type": "ui_worldmap",
        "z": "5992b366.f9457c",
        "group": "9433bdbccc800a84",
        "order": 0,
        "width": "24",
        "height": "15",
        "name": "",
        "lat": "51.143847516749936",
        "lon": "10.401517838090468",
        "zoom": "7",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "",
        "maplist": "OSMC",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 620,
        "y": 1560,
        "wires": []
    },
    {
        "id": "873cbb5af1b9fce8",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "a02ac196.2c23f",
        "order": 1,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Phase",
        "format": "{{msg.payload.phase}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "09a24ee730d98287",
        "type": "ui_slider",
        "z": "5992b366.f9457c",
        "name": "",
        "label": "Consumer Scale",
        "tooltip": "",
        "group": "a02ac196.2c23f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "2",
        "step": "0.25",
        "className": "",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "f60c46bf8723fe75"
            ]
        ]
    },
    {
        "id": "4d0d5d0d24e06e71",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "config/consumer/scale",
        "payload": "1",
        "payloadType": "num",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "09a24ee730d98287"
            ]
        ]
    },
    {
        "id": "f60c46bf8723fe75",
        "type": "mqtt out",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "config/consumer/scale",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c1c49a80.e500e",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "21530c700d59c885",
        "type": "worldmap in",
        "z": "5992b366.f9457c",
        "name": "",
        "path": "/worldmap",
        "events": "connect,disconnect,point,draw,layer,bounds,files,other",
        "x": 280,
        "y": 1660,
        "wires": [
            [
                "db2a35d281ee9665"
            ]
        ]
    },
    {
        "id": "db2a35d281ee9665",
        "type": "function",
        "z": "5992b366.f9457c",
        "name": "on_vehicle",
        "func": "if (msg.payload.icon === \":car:\") {\n    var vehicle_name = msg.payload.name;\n    msg.topic = \"vehicle/\" + vehicle_name;\n    flow.set(\"vehicle_topic\", msg.topic);\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1660,
        "wires": [
            [
                "12f40904cd61f394"
            ]
        ]
    },
    {
        "id": "12f40904cd61f394",
        "type": "mqtt out",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "worldmap/event",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c1c49a80.e500e",
        "x": 740,
        "y": 1660,
        "wires": []
    },
    {
        "id": "c3e79c32a768de90",
        "type": "function",
        "z": "5992b366.f9457c",
        "name": "ParsePayload",
        "func": "return {payload: msg.payload[\"payload\"], topic: msg.payload[\"topic\"], timestamp: msg.payload[\"timestamp\"]}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1140,
        "wires": [
            [
                "66a3388ee9d6020b"
            ]
        ]
    },
    {
        "id": "a51664a99e0eb2ed",
        "type": "function",
        "z": "5992b366.f9457c",
        "name": "ParsePayload",
        "func": "return {payload: msg.payload[\"payload\"], topic: msg.payload[\"topic\"], timestamp: msg.payload[\"timestamp\"]}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1080,
        "wires": [
            [
                "49f72289542aa70b"
            ]
        ]
    },
    {
        "id": "d9374dcded931d27",
        "type": "function",
        "z": "5992b366.f9457c",
        "name": "ParsePayload",
        "func": "return {payload: msg.payload[\"payload\"], topic: msg.payload[\"topic\"], timestamp: msg.payload[\"timestamp\"]}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 980,
        "wires": [
            [
                "b4d5e3ffb645f994"
            ]
        ]
    },
    {
        "id": "66b3efdb72acae1c",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "power/transformer/stats",
        "qos": "2",
        "datatype": "json",
        "broker": "c1c49a80.e500e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 920,
        "wires": [
            [
                "7355ad46ef5777b7"
            ]
        ]
    },
    {
        "id": "7fa78730c17e863b",
        "type": "ui_chart",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "b716f2f0eaa43633",
        "order": 4,
        "width": "19",
        "height": "5",
        "label": "Total Network Stats",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "7355ad46ef5777b7",
        "type": "function",
        "z": "5992b366.f9457c",
        "name": "ParsePayload",
        "func": "return {payload: msg.payload[\"payload\"], topic: msg.payload[\"topic\"], timestamp: msg.payload[\"timestamp\"]}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 920,
        "wires": [
            [
                "7fa78730c17e863b"
            ]
        ]
    },
    {
        "id": "b4d5e3ffb645f994",
        "type": "ui_gauge",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "b716f2f0eaa43633",
        "order": 3,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "Power Difference",
        "label": "units",
        "format": "{{value}}",
        "min": "-3000",
        "max": "3000",
        "colors": [
            "#d62728",
            "#f9f06b",
            "#2ca02c"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 980,
        "wires": []
    },
    {
        "id": "da1519403606afb0",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "power/transformer/stats/earnings",
        "qos": "2",
        "datatype": "json",
        "broker": "c1c49a80.e500e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1200,
        "wires": [
            [
                "a67defbe0b3efa1a"
            ]
        ]
    },
    {
        "id": "a67defbe0b3efa1a",
        "type": "function",
        "z": "5992b366.f9457c",
        "name": "ParsePayload",
        "func": "return {payload: msg.payload[\"payload\"], topic: msg.payload[\"topic\"], timestamp: msg.payload[\"timestamp\"]}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1200,
        "wires": [
            [
                "d25779f2ecc65dd4"
            ]
        ]
    },
    {
        "id": "d25779f2ecc65dd4",
        "type": "ui_chart",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "b716f2f0eaa43633",
        "order": 5,
        "width": "24",
        "height": "6",
        "label": "Money Earned",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "59e8660628392a57",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "power/transformer/stats/price",
        "qos": "2",
        "datatype": "json",
        "broker": "c1c49a80.e500e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 1260,
        "wires": [
            [
                "5b10771c8f32388c"
            ]
        ]
    },
    {
        "id": "5b10771c8f32388c",
        "type": "function",
        "z": "5992b366.f9457c",
        "name": "ParsePayload",
        "func": "return {payload: msg.payload[\"payload\"], topic: msg.payload[\"topic\"], timestamp: msg.payload[\"timestamp\"]}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1260,
        "wires": [
            [
                "fee38065243d2d51"
            ]
        ]
    },
    {
        "id": "fee38065243d2d51",
        "type": "ui_chart",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "b716f2f0eaa43633",
        "order": 5,
        "width": "24",
        "height": "6",
        "label": "Sell Price Infos",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "a3c6901dc00da920",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "vehicle/+",
        "qos": "2",
        "datatype": "json",
        "broker": "c1c49a80.e500e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 1760,
        "wires": [
            [
                "562cc384048cde12"
            ]
        ]
    },
    {
        "id": "2d3de53ff98b4a6e",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "d54d87a82fb70f0c",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Name",
        "format": "{{msg.payload.name}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 1760,
        "wires": []
    },
    {
        "id": "562cc384048cde12",
        "type": "switch",
        "z": "5992b366.f9457c",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vehicle_topic",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1760,
        "wires": [
            [
                "2d3de53ff98b4a6e",
                "6dc43dfefd2b3521",
                "da9231675ae82081",
                "6dae97f9687e019f",
                "c787251c75aa8351",
                "4abfa670718f7685",
                "c45c5252e7dca425",
                "9f0a84086bcf7ec0",
                "5876e76e72a6363f"
            ]
        ]
    },
    {
        "id": "c787251c75aa8351",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "d54d87a82fb70f0c",
        "order": 5,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Consumption",
        "format": "{{msg.payload.consumption}} kWh / 100 km",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 1880,
        "wires": []
    },
    {
        "id": "6dc43dfefd2b3521",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "d54d87a82fb70f0c",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Capacity",
        "format": "{{msg.payload.battery.max_capacity}} kWh",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 1840,
        "wires": []
    },
    {
        "id": "da9231675ae82081",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "d54d87a82fb70f0c",
        "order": 2,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Model",
        "format": "{{msg.payload.model}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 1800,
        "wires": []
    },
    {
        "id": "6dae97f9687e019f",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "d54d87a82fb70f0c",
        "order": 3,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload.status}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 1920,
        "wires": []
    },
    {
        "id": "c45c5252e7dca425",
        "type": "ui_gauge",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "d54d87a82fb70f0c",
        "order": 8,
        "width": "2",
        "height": "2",
        "gtype": "wave",
        "title": "SoC",
        "label": "%",
        "format": "{{msg.payload.soc}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 2000,
        "wires": []
    },
    {
        "id": "4abfa670718f7685",
        "type": "ui_gauge",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "d54d87a82fb70f0c",
        "order": 6,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Speed",
        "label": "kph",
        "format": "{{msg.payload.speed_kph}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 1960,
        "wires": []
    },
    {
        "id": "066f6cc453b66c2a",
        "type": "ui_chart",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "d54d87a82fb70f0c",
        "order": 7,
        "width": "16",
        "height": "4",
        "label": "State of Charge",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "9f0a84086bcf7ec0",
        "type": "function",
        "z": "5992b366.f9457c",
        "name": "soc",
        "func": "msg.payload = msg.payload.soc;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 2040,
        "wires": [
            [
                "066f6cc453b66c2a"
            ]
        ]
    },
    {
        "id": "ec6f8418521ea347",
        "type": "function",
        "z": "5992b366.f9457c",
        "name": "ParsePayload",
        "func": "return {payload: msg.payload[\"payload\"], topic: msg.payload[\"topic\"], timestamp: msg.payload[\"timestamp\"]}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1320,
        "wires": [
            [
                "acb0fa524995096e"
            ]
        ]
    },
    {
        "id": "acb0fa524995096e",
        "type": "ui_chart",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "83cd261e79d613c8",
        "order": 4,
        "width": "24",
        "height": "6",
        "label": "Battery in kWh",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "1fc8a8c732576ba3",
        "type": "ui_slider",
        "z": "5992b366.f9457c",
        "name": "",
        "label": "Vehicle Scale",
        "tooltip": "",
        "group": "a02ac196.2c23f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "2",
        "step": "0.25",
        "className": "",
        "x": 480,
        "y": 560,
        "wires": [
            [
                "41ae3c5a34de2018"
            ]
        ]
    },
    {
        "id": "db6d69f93567f3d6",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "config/vehicle/scale",
        "payload": "1",
        "payloadType": "num",
        "x": 220,
        "y": 560,
        "wires": [
            [
                "1fc8a8c732576ba3"
            ]
        ]
    },
    {
        "id": "41ae3c5a34de2018",
        "type": "mqtt out",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "config/vehicle/scale",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c1c49a80.e500e",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "58a7283bc9a05c84",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "config/vehicle/algorithm",
        "payload": "0",
        "payloadType": "num",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "06d698de3c74a41f"
            ]
        ]
    },
    {
        "id": "2a713f22cdb70cab",
        "type": "mqtt out",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "config/vehicle/algorithm",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c1c49a80.e500e",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "06d698de3c74a41f",
        "type": "ui_dropdown",
        "z": "5992b366.f9457c",
        "name": "",
        "label": "Vehicle Algorithm",
        "tooltip": "",
        "place": "Best",
        "group": "a02ac196.2c23f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Best",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Random",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Closest",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Cheapest",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 490,
        "y": 640,
        "wires": [
            [
                "2a713f22cdb70cab"
            ]
        ]
    },
    {
        "id": "5876e76e72a6363f",
        "type": "ui_gauge",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "d54d87a82fb70f0c",
        "order": 8,
        "width": "2",
        "height": "2",
        "gtype": "donut",
        "title": "Deadline",
        "label": "x5 min",
        "format": "{{msg.payload.deadline}}",
        "min": 0,
        "max": "288",
        "colors": [
            "#e01b24",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "12",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 2080,
        "wires": []
    },
    {
        "id": "8f4a6414bbdfc010",
        "type": "ui_slider",
        "z": "5992b366.f9457c",
        "name": "",
        "label": "Turbine Scale",
        "tooltip": "",
        "group": "a02ac196.2c23f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "2",
        "step": "0.25",
        "className": "",
        "x": 480,
        "y": 400,
        "wires": [
            [
                "2b55529e37387870"
            ]
        ]
    },
    {
        "id": "8ee919c3bb58e8db",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "config/turbine/scale",
        "payload": "0.25",
        "payloadType": "num",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "8f4a6414bbdfc010"
            ]
        ]
    },
    {
        "id": "2b55529e37387870",
        "type": "mqtt out",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "config/turbine/scale",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c1c49a80.e500e",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "62426e6861cc66f3",
        "type": "ui_switch",
        "z": "5992b366.f9457c",
        "name": "",
        "label": "Show Turbines and Fusion Reactor",
        "tooltip": "",
        "group": "c87c429f141b3ac3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 2300,
        "wires": [
            [
                "0c5e6f25f2e1c40c"
            ]
        ]
    },
    {
        "id": "d59eb995757d6ba6",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "config/turbine",
        "payload": "false",
        "payloadType": "bool",
        "x": 450,
        "y": 2300,
        "wires": [
            [
                "62426e6861cc66f3"
            ]
        ]
    },
    {
        "id": "5f41db8acc0f28bf",
        "type": "ui_switch",
        "z": "5992b366.f9457c",
        "name": "",
        "label": "Show Consumers",
        "tooltip": "",
        "group": "c87c429f141b3ac3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 2360,
        "wires": [
            [
                "b9c4bb2d029a9fc8"
            ]
        ]
    },
    {
        "id": "b035b7a3340070f8",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "config/consumer",
        "payload": "false",
        "payloadType": "bool",
        "x": 460,
        "y": 2360,
        "wires": [
            [
                "5f41db8acc0f28bf"
            ]
        ]
    },
    {
        "id": "b9c4bb2d029a9fc8",
        "type": "mqtt out",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "config/consumer",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c1c49a80.e500e",
        "x": 1020,
        "y": 2360,
        "wires": []
    },
    {
        "id": "4711123d5bc785a3",
        "type": "ui_switch",
        "z": "5992b366.f9457c",
        "name": "",
        "label": "Show Vehicles and Chargers",
        "tooltip": "",
        "group": "c87c429f141b3ac3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 2420,
        "wires": [
            [
                "584b8707e9fff378"
            ]
        ]
    },
    {
        "id": "e7462e6ddc5cf11a",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "config/vehicle",
        "payload": "true",
        "payloadType": "bool",
        "x": 450,
        "y": 2420,
        "wires": [
            [
                "4711123d5bc785a3"
            ]
        ]
    },
    {
        "id": "584b8707e9fff378",
        "type": "mqtt out",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "config/vehicle",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c1c49a80.e500e",
        "x": 1020,
        "y": 2420,
        "wires": []
    },
    {
        "id": "0c5e6f25f2e1c40c",
        "type": "mqtt out",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "config/turbine",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c1c49a80.e500e",
        "x": 1020,
        "y": 2300,
        "wires": []
    },
    {
        "id": "04c2a414eda39432",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "power/charger/transformed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c1c49a80.e500e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1380,
        "wires": [
            [
                "5d8671d00fe5e3c2"
            ]
        ]
    },
    {
        "id": "5d8671d00fe5e3c2",
        "type": "function",
        "z": "5992b366.f9457c",
        "name": "ParsePayload",
        "func": "return {payload: msg.payload[\"payload\"], topic: msg.payload[\"topic\"], timestamp: msg.payload[\"timestamp\"]}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1380,
        "wires": [
            [
                "6f08f73f05a60a13"
            ]
        ]
    },
    {
        "id": "6f08f73f05a60a13",
        "type": "ui_chart",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "83cd261e79d613c8",
        "order": 4,
        "width": "24",
        "height": "6",
        "label": "Battery in kWh",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "787590f26769c5da",
        "type": "inject",
        "z": "5992b366.f9457c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "tickgen/configure_amount_to_run",
        "payload": "0",
        "payloadType": "num",
        "x": 240,
        "y": 740,
        "wires": [
            [
                "5d04373bd7edcd72"
            ]
        ]
    },
    {
        "id": "a4cdc60c14ce5c22",
        "type": "mqtt out",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "tickgen/configure_amount_to_run",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c1c49a80.e500e",
        "x": 920,
        "y": 740,
        "wires": []
    },
    {
        "id": "5d04373bd7edcd72",
        "type": "ui_text_input",
        "z": "5992b366.f9457c",
        "name": "",
        "label": "How many Ticks to run the simulation for: ",
        "tooltip": "",
        "group": "a02ac196.2c23f",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 580,
        "y": 740,
        "wires": [
            [
                "a4cdc60c14ce5c22"
            ]
        ]
    },
    {
        "id": "8cedfba171018d64",
        "type": "ui_text",
        "z": "5992b366.f9457c",
        "group": "a02ac196.2c23f",
        "order": 1,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Remaining Ticks:",
        "format": "{{msg.payload.configuration.amount_to_run}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "4a11696b1d6481ca",
        "type": "mqtt in",
        "z": "5992b366.f9457c",
        "name": "",
        "topic": "distance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c1c49a80.e500e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1480,
        "wires": [
            [
                "4bfd0a7fb389cf34"
            ]
        ]
    },
    {
        "id": "4bfd0a7fb389cf34",
        "type": "ui_chart",
        "z": "5992b366.f9457c",
        "name": "",
        "group": "faabda12666136a4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Vehicle Distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 1480,
        "wires": [
            []
        ]
    }
]