dashboard/data/.flows.json.backup
[{"id":"5992b366.f9457c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8d5b248b.b32978","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3bad7c7d.5054c4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a02ac196.2c23f","type":"ui_group","name":"Configuration","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"24","collapse":true,"className":""},{"id":"c1c49a80.e500e","type":"mqtt-broker","name":"","broker":"mosquitto_broker","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b716f2f0eaa43633","type":"ui_group","name":"Power","tab":"8d5b248b.b32978","order":2,"disp":true,"width":"24","collapse":true,"className":""},{"id":"9433bdbccc800a84","type":"ui_group","name":"Map","tab":"8d5b248b.b32978","order":3,"disp":true,"width":"24","collapse":true,"className":""},{"id":"18b05c027f42d6d5","type":"ui_group","name":"Vehicle","tab":"8d5b248b.b32978","order":4,"disp":true,"width":"24","collapse":true,"className":""},{"id":"bf2cf521.1772e","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"tickgen/tick","payload":"0","payloadType":"num","x":270,"y":140,"wires":[["ea18c282.7d0be8"]]},{"id":"89415ad9.c002b","type":"mqtt in","z":"5992b366.f9457c","name":"TickInfo","topic":"tickgen/tick","qos":"2","datatype":"json","broker":"c1c49a80.e500e","nl":false,"rap":false,"inputs":0,"x":270,"y":180,"wires":[["ea18c282.7d0be8","8d7fdecc.5b539","873cbb5af1b9fce8"]]},{"id":"412330d0.55c178","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"tickgen/configure_speed","payload":"6","payloadType":"num","x":260,"y":320,"wires":[["d85ce3e9.dda098"]]},{"id":"ea18c282.7d0be8","type":"ui_text","z":"5992b366.f9457c","group":"a02ac196.2c23f","order":0,"width":"8","height":"1","name":"","label":"Simulationszeit","format":"{{msg.payload.timestamp}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":480,"y":180,"wires":[]},{"id":"d85ce3e9.dda098","type":"ui_slider","z":"5992b366.f9457c","name":"","label":"Simulationsgeschwindigkeit","tooltip":"","group":"a02ac196.2c23f","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0.25","max":"15","step":"0.25","className":"","x":520,"y":320,"wires":[["56d244ea.fb86bc"]]},{"id":"56d244ea.fb86bc","type":"mqtt out","z":"5992b366.f9457c","name":"","topic":"tickgen/configure_speed","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c1c49a80.e500e","x":810,"y":320,"wires":[]},{"id":"8d7fdecc.5b539","type":"ui_text","z":"5992b366.f9457c","group":"a02ac196.2c23f","order":1,"width":"8","height":"1","name":"","label":"Simulationsgeschwindigkeit","format":"{{msg.payload.configuration.speed}}s/tick","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":520,"y":240,"wires":[]},{"id":"a2f74a8e68859057","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"power/transformer/consumption","qos":"2","datatype":"utf8","broker":"c1c49a80.e500e","nl":false,"rap":true,"rh":0,"inputs":0,"x":410,"y":880,"wires":[["49f72289542aa70b"]]},{"id":"49f72289542aa70b","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"b716f2f0eaa43633","order":5,"width":"10","height":"6","label":"Strom Consumption (kW)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e01b24","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":730,"y":880,"wires":[[]]},{"id":"151d942fd05f3a14","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"power/transformer/generation","qos":"2","datatype":"utf8","broker":"c1c49a80.e500e","nl":false,"rap":true,"rh":0,"inputs":0,"x":400,"y":940,"wires":[["66a3388ee9d6020b"]]},{"id":"66a3388ee9d6020b","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"b716f2f0eaa43633","order":5,"width":"10","height":"6","label":"Strom Generation (kW)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":730,"y":940,"wires":[[]]},{"id":"d644f68cf9527757","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"power/transformer/diff","qos":"2","datatype":"utf8","broker":"c1c49a80.e500e","nl":false,"rap":true,"rh":0,"inputs":0,"x":380,"y":1020,"wires":[["0664c069053c0964"]]},{"id":"3ff84142a8eb564d","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"power/charger","qos":"2","datatype":"utf8","broker":"c1c49a80.e500e","nl":false,"rap":true,"rh":0,"inputs":0,"x":350,"y":1100,"wires":[["751f42e3afe4331a"]]},{"id":"751f42e3afe4331a","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"b716f2f0eaa43633","order":5,"width":"4","height":"3","label":"Battery Status (kW)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":710,"y":1100,"wires":[[]]},{"id":"b5555d8c73629761","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"power/turbine/location","qos":"2","datatype":"auto-detect","broker":"c1c49a80.e500e","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":660,"wires":[["1d02d875ec166027"]]},{"id":"1d02d875ec166027","type":"ui_worldmap","z":"5992b366.f9457c","group":"9433bdbccc800a84","order":0,"width":0,"height":0,"name":"","lat":"52","lon":"10","zoom":"5","layer":"OSMC","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"CO","maplist":"OSMC","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":540,"y":660,"wires":[]},{"id":"0e471957dded1c11","type":"worldmap in","z":"5992b366.f9457c","name":"","path":"/worldmap","events":"connect,disconnect,point,draw,layer,bounds,files,other","x":280,"y":1260,"wires":[["d2456ccdac7cd6ac"]]},{"id":"d2456ccdac7cd6ac","type":"function","z":"5992b366.f9457c","name":"on_vehicle","func":"if (msg.payload.icon === \":car:\") {\n    var vehicle_name = msg.payload.name;\n    msg.topic = \"vehicle/\" + vehicle_name + \"/battery/soc\";\n    flow.set(\"aaa\", msg.topic);\n    return msg;\n} else {\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1260,"wires":[["b46f60ea376b500a"]]},{"id":"873cbb5af1b9fce8","type":"ui_text","z":"5992b366.f9457c","group":"a02ac196.2c23f","order":1,"width":"8","height":"1","name":"","label":"Phase","format":"{{msg.payload.phase}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":450,"y":280,"wires":[]},{"id":"0664c069053c0964","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"b716f2f0eaa43633","order":4,"width":"4","height":"3","label":"Netzwerkdifferenz (kW)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":730,"y":1020,"wires":[[]]},{"id":"ce99fb9452c78246","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"vehicle/+/battery/soc","qos":"2","datatype":"utf8","broker":"c1c49a80.e500e","nl":false,"rap":true,"rh":0,"inputs":0,"x":310,"y":1320,"wires":[["46ba7255d7644268"]]},{"id":"3139f7f2483681bf","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"18b05c027f42d6d5","order":0,"width":"6","height":"6","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":730,"y":1320,"wires":[]},{"id":"46ba7255d7644268","type":"switch","z":"5992b366.f9457c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"aaa","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1320,"wires":[["3139f7f2483681bf"]]},{"id":"b46f60ea376b500a","type":"mqtt out","z":"5992b366.f9457c","name":"","topic":"worldmap/event","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c1c49a80.e500e","x":760,"y":1260,"wires":[]}]