dashboard/data/flows.json
[{"id":"5992b366.f9457c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8d5b248b.b32978","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3bad7c7d.5054c4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a02ac196.2c23f","type":"ui_group","name":"Configuration","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"8","collapse":true,"className":""},{"id":"c1c49a80.e500e","type":"mqtt-broker","name":"","broker":"mosquitto_broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bf2cf521.1772e","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"tickgen/tick","payload":"0","payloadType":"num","x":270,"y":140,"wires":[["ea18c282.7d0be8"]]},{"id":"89415ad9.c002b","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"tickgen/tick","qos":"2","datatype":"auto","broker":"c1c49a80.e500e","inputs":0,"x":280,"y":180,"wires":[["ea18c282.7d0be8"]]},{"id":"bbe8491b.5013a","type":"mqtt out","z":"5992b366.f9457c","name":"","topic":"mgmt/adaptive_mode","qos":"","retain":"","broker":"c1c49a80.e500e","x":780,"y":460,"wires":[]},{"id":"7f8b978b.ca5828","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"tickgen/speed_factor","qos":"2","datatype":"auto","broker":"c1c49a80.e500e","inputs":0,"x":250,"y":260,"wires":[["8d7fdecc.5b539"]]},{"id":"7078141c.f9257c","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"mgmt/adaptive_mode","qos":"2","datatype":"auto","broker":"c1c49a80.e500e","inputs":0,"x":240,"y":340,"wires":[["d57a59cc.e2b83"]]},{"id":"9abcb4ad.858b2","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"mgmt/adaptive_mode","payload":"false","payloadType":"bool","x":220,"y":460,"wires":[["323a3073.c4b4f8"]]},{"id":"412330d0.55c178","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"tick_gen/speed_factor","payload":"10","payloadType":"num","x":230,"y":520,"wires":[["d85ce3e9.dda098"]]},{"id":"ea18c282.7d0be8","type":"ui_text","z":"5992b366.f9457c","group":"a02ac196.2c23f","order":0,"width":"8","height":"1","name":"","label":"Simulationszeit","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":180,"wires":[]},{"id":"d85ce3e9.dda098","type":"ui_slider","z":"5992b366.f9457c","name":"","label":"Simulationsgeschwindigkeit","tooltip":"","group":"a02ac196.2c23f","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0.25","max":"30","step":"0.25","x":520,"y":520,"wires":[["56d244ea.fb86bc"]]},{"id":"323a3073.c4b4f8","type":"ui_switch","z":"5992b366.f9457c","name":"","label":"Enable Adaptive Mode","tooltip":"","group":"a02ac196.2c23f","order":3,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":500,"y":460,"wires":[["bbe8491b.5013a"]]},{"id":"56d244ea.fb86bc","type":"mqtt out","z":"5992b366.f9457c","name":"","topic":"tickgen/speed_factor","qos":"","retain":"","broker":"c1c49a80.e500e","x":780,"y":520,"wires":[]},{"id":"8d7fdecc.5b539","type":"ui_text","z":"5992b366.f9457c","group":"a02ac196.2c23f","order":1,"width":"8","height":"1","name":"","label":"Simulationsgeschwindigkeit","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":260,"wires":[]},{"id":"d57a59cc.e2b83","type":"ui_text","z":"5992b366.f9457c","group":"a02ac196.2c23f","order":2,"width":"8","height":"1","name":"","label":"Adaptive Mode","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":340,"wires":[]},{"id":"a2f74a8e68859057","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"power/transformer/consumption","qos":"2","datatype":"utf8","broker":"c1c49a80.e500e","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":620,"wires":[["49f72289542aa70b"]]},{"id":"49f72289542aa70b","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"a02ac196.2c23f","order":5,"width":0,"height":0,"label":"Strom Consumption","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e01b24","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":520,"y":620,"wires":[[]]},{"id":"151d942fd05f3a14","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"power/transformer/generation","qos":"2","datatype":"utf8","broker":"c1c49a80.e500e","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":680,"wires":[["66a3388ee9d6020b"]]},{"id":"66a3388ee9d6020b","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"a02ac196.2c23f","order":5,"width":0,"height":0,"label":"Strom Generation","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":680,"wires":[[]]},{"id":"d49613d0a9d2a17e","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"power/network","qos":"2","datatype":"utf8","broker":"c1c49a80.e500e","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":580,"wires":[["e195dfb46faba86d"]]},{"id":"e195dfb46faba86d","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"a02ac196.2c23f","order":5,"width":0,"height":0,"label":"Stromnetzwerk","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":500,"y":580,"wires":[[]]},{"id":"4f2c5c70dbae300d","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"a02ac196.2c23f","order":8,"width":0,"height":0,"gtype":"gage","title":"Generation - Consumption","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#d62728","#26a269","#f9f06b"],"seg1":"","seg2":"","diff":false,"className":"","x":460,"y":820,"wires":[]},{"id":"d644f68cf9527757","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"power/transformer/diff","qos":"2","datatype":"utf8","broker":"c1c49a80.e500e","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":820,"wires":[["4f2c5c70dbae300d"]]}]